#inicio{
  padding: 2rem 8rem;
  background:var(--azul-suave);
}

.conteiner-begin{
  display:flex;
  justify-content:space-between;
}

#inicio h1{
  color:var(--azul);
  text-transform:uppercase;
  font-family: var(--sansita-font);
  font-size:3rem;
  /* font-style:italic; */
  letter-spacing: 2px;
  padding-bottom:2rem;
  flex-wrap: nowrap;
}
.content-begin{
  height:100%;
  display:flex;
  justify-content: space-between; 
  align-self:stretch;
  flex-direction:column;
}

.content-begin h2{
  font-size: 1.5rem;
  font-family:var(--sansita-font);
  font-weight: 500;
  padding-bottom: 3rem;
}

.content-begin ul{
  display:flex;
  flex-direction: column;
  
}

.text-content{
  font-family:var(--content-font);
  padding-bottom: 2rem;
}

.img-begin{
  display:flex;
  justify-content: center;
  position:relative;
}

.img-logo{
  width:15%;
  position:absolute;
  left: 0;
  top:0;
}

.img-cerebro{
  width: 65%;
}

.img-logo-simbol{
  width:12%;
  position:absolute;
  right:0;
  bottom:0;
}

.container-button-begin{
  display:flex;
  justify-content:space-around;
}

.button-begin{
  color:white;
  background-color: var(--azul-reluzente);
  border: none;
  padding: .5rem 1.5rem;
  border-radius:10px;
  font-weight: bold;
  font-size:1.5rem;
  letter-spacing:2px;
  transition: .5s;
}

.button-begin:hover{
  background-color: var(--azul);
}