:root{
  --main_background:#F3F4FC;

  --branco: #FFFFFF;
  --preto: #000000;
  --azul_forte: #1C2ECD;
  --azul:#120AA1;

  /* font family */
  /* Open Sans =   Sans Serif Collection */
  --content_font: "Open Sans", sans-serif;

  /* Title Familen Grotesk  font-weight= regular   font-weight:36  */
  /* Title Familen Grotesk  font-weight= regular   font-weight:32  */
  --title_font: "Familjen Grotesk", sans-serif;
}

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

html{
  background:var(--main_background);
  height: 100vw;
}

header{
  background:var(--branco);
  width:95%;
  border-radius:5px;
  position:fixed;
  left:2.5%;
  top:2%;
  z-index:1000;
}

.container_header{
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.logo_image{
  width:5%;
  margin-top:.5rem;
  padding: .1rem 0 .5rem 1.5rem;
}

.nav_bar{
  display:flex;
}

.nav_bar li{
  list-style: none;
  margin-right: 1rem;
}

.nav_bar li a{
  text-decoration: none;
  color:var(--preto);
  font-family: var(--content_font);
  position:relative;
}

.nav_bar li a:before{
  content: '';
  width:0%;
  height:3px;
  border-radius: 50%;
  background:var(--azul_forte);
  position:absolute;
  top:100%;
  left: 0%;
  transition:.5s;
}

.nav_bar li:hover a:before{
  width: 100%;
}

.banner_txt p{
  color:var(--branco);
}

/* default margin and padding*/
#who_we_are,
#group_details{
  background-color: var(--branco); 
  margin: 40px;
  padding:20px;
  border-radius:20px;
}

/*default sub-tittle line */
.who_we_are_tittle,
.group_details_tittle{
  font-family: var(--title_font);
  text-align:center;
  margin-bottom:2rem;
  position:relative;
}

.who_we_are_tittle::before,
.group_details_tittle::before{
  content:'';
  height:3px;
  width:30%;
  background:var(--azul_forte);
  position:absolute;
  top:100%;
  left:0;
  left: 35%;
  border-radius:80%;
}






