 .container_group_details{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:2em;
  text-align: center;
  padding-top: 1em;
 }

 .group_details_icon p{
  text-align: start;
  padding-top: .5em;
  font-family:var(--content-font);
 }

.blue_group_text{
  color:var(--azul);
  font-weight:bold;
}


