#who-we-are{
  background-color: #3B3B3B;
}

.container-who-we-are{
  display:flex;
  justify-content:space-between;

  /* flex-direction:column; */
}

.tittle-who-we-are{
  color:var(--amarelo-suave);
  font-family:var(--sansita-font);
  font-size:1.5rem;
  letter-spacing: 3px;
  text-transform:uppercase;
  padding-bottom: 2rem ;
  align-self: center;
}

.content-who-we-are{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}